# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/

# Sensitive files
.env
*.session
userbot.db

# IDE and editor files
.idx
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Miscellaneous
*.bak
*.swp
*~